@media (max-width: 1030px) {
    .header__ul {
        display: none;
    }

    .main {
        flex-direction: column;
        gap: 40px;
    }

    .main__div {
        width: 100%;
    }
    .main__h1 {
        font-size: 10vw;
    }
}

@media (max-width: 590px) {
    .footer {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 40px 20px;
    }
    .main__img {
        max-width: calc(100vw - 40px);
    }
    .main {
        padding: 0px 20px;
    }
    .header {
        padding: 40px 20px;
    }
    .header__menuToggle.active {        
        right: 20px;
    }
}