.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.main__div {
    width: calc(50% - 20px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    animation: initText 1.5s;
}

.main__p {
    font-family: "Ubuntu", sans-serif;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0px 0px 0px;
}

.main__btn {
    font-family: "Ubuntu", sans-serif;
    color: var(--black);
    background: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline-width: 0px;
    border: solid 2px transparent;
    padding: 16px 48px;
    border-radius: 100px;
    margin: 20px 0px 0px 0px;
    transition: 0.3s;
}

.main__btn:hover {
    background: transparent;
    border: solid 2px var(--white);
    color: var(--white);
}

#mainImage1 {
    display: unset;
}

#mainImage2 {
    display: none;
}

#mainImage3 {
    display: none;
}

#mainImage4 {
    display: none;
}

.main__img {
    max-width: 45vw;
    max-height: 54vh;
    object-fit: contain;
    animation: initImage 1.5s;
}

@keyframes initImage {
    0% {
        opacity: 0;
        max-height: 10vh;
        rotate: 45deg;
    }

    100% {
        opacity: 1;
        max-height: 54vh;
        rotate: 0deg;
    }
}

@keyframes initText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}